*{
	padding: 0;
	margin: 0;
}

.layer1 {
    position: fixed;
    left: 0px; 
    width: 152px;
    height:100%; 
    background: #f9f9f9; 
    border-right: 2px solid #dbdbdb;
}
.layer2 {
	position: fixed;
    right: 0px; 
    width: 152px;
    height:100%; 
    background: #f9f9f9; 
    border-left: 2px solid #dbdbdb;
}
.header {
	position: absolute;
	top: 50px;
	left: 200px;
	right: 200px;
}
/*HEADER*/
.menu {
	margin-top: 40px;
	width: 100%;
	height: 38px;
	background-color: #47484a;
	color: white;
	font-family: sans-serif;
	border-collapse: collapse;
}
.first_menu {
	padding-left: 30px;
	width: 147px;
}
.second_menu {
	width: 99px;
	text-align: center;
	border-left: 2px solid #838383;
	border-right: 2px solid #838383;
	background-color: #353535;
}
.third_menu {
	text-align: center;
	width: 187px;
}
/*HEADER*/
.list {
	border: 1px solid #c8c8c8;
	height: 240px;
	width: 240px;
	margin-top: 40px;
	border-collapse: collapse;
}
.a {
	border: 1px solid #c8c8c8;
	padding-left: 22px;
}
.b {
	padding-left: 34px;
	background: #f9f9f9;
}
.bike {
	border: 1px solid #c8c8c8;
	margin-left: 488px;
	margin-top: 212px;
	padding-top: 47px;
	padding-bottom: 46px; 
	padding-left: 91px;
	padding-right: 100px;
}
.text {
	width:650px;
	margin-left: 512px;
	margin-top: 40px;
	margin-right: 229;
} 
.hr {
	background-color: #e1e1e1;
	margin: 60px 200px;
	width: auto;
	height: 38px;
}

li {
	display: inline-block;
	padding: 10px 20px;
}
.tovary {
	padding-left: 80px;
	text-decoration: underline;
}
.o_nas {
	padding-left: 60px;
}
.kontakty {
	padding-left: 65px;
}
.all_rights_reserved {
	padding-left: 255px;
}
.content_center {
	margin: 0 auto;
	width: 966px;
}


	


