.cover {
	background-color: #f9f9f9;
	background-size: cover;
}
.wrapper1 {
  position: relative;
  width: 1050px; 
  margin: 0px auto;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
html, body, .wrapper1{
	height: 100%;
}
.wrapper2 {
  position: relative;
  width: 950px; 
  margin: 0px auto;
  font-family: sans-serif;
  height: 100%;
  background-color: #fff;
}
/*HEADER*/
.logo {
	padding-top: 50px;
}
.header_menu {
	background-color: #47484a;
	height: 40px;
	width: 950px;
	color: white;
	border-collapse: collapse;
	margin-top: 40px;
}
.inline_header  {
	display: inline-block;
	width: 120px;
	padding-top: 10px;
	text-align: center;
}
.glavnaya {
	padding-right: 20px;
}
.tovary {
	border-left: 2px solid #838383;
	border-right: 2px solid #838383;
	background-color: #353535;
	height: 30px;
}
/*CONTENT*/
.sidebar {
    border: 1px solid #c8c8c8;
    border-bottom: none;
	height: 240px;
	width: 240px;
	display: table-cell;
	margin-top: 0px;
}
.a {
	border-bottom: 1px solid #c8c8c8;
	height: 40px;
	padding-left: 22px;
	line-height: 40px;	
}
.b {
	padding-left: 34px;
	height: 40px;
	background: #f9f9f9;
	border-bottom: 1px solid #c8c8c8;
    line-height: 40px; 
}
.inline_content div{
    display: inline-block;
    margin-top: 40px;
    vertical-align: top;
}
.img {
	margin-left: 25px;
}
/*FOOTER*/
.list {
	width: 757px;
}
.footer div{
	display: inline-block;
	background-color: #e1e1e1; 
	height: 40px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.list_line {
	display: inline-block;
	line-height: 40px;
	padding-left: 20px;
}
.kontakty {
	padding-right: 200px;
}
.All_rights_reserved {
    margin-left: -1em;
    line-height: 40px;
    padding-right: 20px;
}
